.SliderContainer {
    margin: 0 auto;
    color: #ffff;
    background-color: black;
    border-radius: 20px;
    font-family: "Orbitron";
    font-size: 14px;
  }
  
  .SliderImage {
    margin: auto;
    width: auto;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 1000px) {
    .SliderImage {
      height: 40vh;
    }
  }
  
  @media (max-width: 700px) {
    .SliderContainer {
      border-radius: 0;
    }
  
    .SliderImage {
      height: 40vh;
    }
  }
  